<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to Elepio!</h1>
            <p>
                Board ID: {{this.game.getBoard().getID()}}
                <br>
                Board Width: {{this.game.getBoard().getWidth()}}
                <br>
                Board Height: {{this.game.getBoard().getHeight()}}

            </p>
            <p>Player Count: {{this.game.getBoard().getPlayerCount()}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="game-space-container"></div>
        </div>
    </div>
    <button (click)="createNewPlayer()">Create New Player</button>
    <button (click)="logCurrentPlayer()">Log Current Player</button>
    <button (click)="logAllPlayers()">Log All Players</button>
    <button (click)="killAllPlayers()">Kill All Players</button>
</div>